.App {
  text-align: center;
}


a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: default;
}

button {
  margin: 10px;
}



.separator {
  margin: 50px 0;
}

.content h1 {
  margin-bottom: 50px;
}

.content {
  margin-top: 100px;
}

.hide {
  opacity: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-full {
  position: absolute;
  height: 100%;
  width: 100%;
}



.cover-image {
  position: relative;
  height: 500px;
  overflow: hidden;
  margin: 50px 0;
  background-image: url('https://images.unsplash.com/photo-1523472721958-978152f4d69b');
  background-size: cover;
  background-attachment: fixed;
}


.foodGraph {
  position: relative;
}


form.log-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
